<hr width="100%">
<div class="h-card">

<img src="{{ url('theme://images/zoot.jpg') }}" title="Jeremy Cherfas" alt="Profile picture" class="u-photo">

	<h4>
		<a href="/grav-admin" class="p-name u-url">Jeremy Cherfas</a>
	</h4>
	<h3>
		Freelance Communicator
	</h3>
	<div class="p-note">
		<p>
			In essence, I see myself as a translator. I speak Science, and I speak English, and I work hard to make the two understand one another. Mostly, I like to help people tell their stories. I'm a biologist by training and by inclination, and my main joy is applying that to food and the agriculture and industries that supply it.</p>
<p>I also have side interests in economics and many other things.
		</p>
	</div>
	<div class="social-pages">
	<a href="https://twitter.com/EatPodcast" title="Twitter" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/twitter.svg') }}" alt="twitter logo" height="32" width="32" ></a>
	<a href="https://github.com/jeremycherfas" title="GitHub" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/github.svg') }}" alt="github logo" height="32" width="32" ></a> 
	<a href="https://stream.jeremycherfas.net" title="Known" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/known.svg') }}" alt="Known stream logo" height="32" width="32" ></a> 
	<a href="https://micro.blog/jeremycherfas" title="Micro Blog" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/microblog.svg') }}" alt="MicroBlog logo" height="32" width="32" ></a> 
	<a href="https://www.instagram.com/eatthispodcast/" title="Instagram" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/instagram.svg') }}" alt="Instagram logo" height="32" width="32" ></a> 
	<a href="https://pnut.io/@jeremycherfas" title="pnut" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/pnut.svg') }}" alt="pnut logo" height="32" width="32" ></a> 
	</div>
</div>
