<div class="list-item h-entry">
<a class="u-author" href="https://jeremycherfas.net"></a>
    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <em>{{ page.date|date("M") }}</em>
                                <em>{{ page.date|date("Y") }}</em>
            </time>
        </span>
        {% if page.header.link %}
            <h1 class="p-name">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><img src="{{ url('theme://images/angle-double-right.svg') }}" alt="double angle right" height="32" width="32" style="display: inline;" ></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
            </h1>
        {% else %}
            <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
        {% endif %}

			{% if page.header.subhead %} 
			<h2 class="subhead">
				{{ page.header.subhead }}
			</h2>
			{% endif%} 

        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}

    </div>

    <div class="list-blog-padding">

    {% if page.header.continue_link is sameas(false) %}
        <span class="e-content">        
            {{ page.content }}
        </span>
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        <div class="p-summary">
        <span class="e-content">
            {{ page.summary }}
            <p><a href="{{ page.url }}">More this way ...</a></p>
        </span>
        </div>
    {% elseif truncate %}
        <div class="p-summary">
        <span class="e-content">
            {{ page.content }}
            <p><a href="{{ page.url }}">More this way ...</a></p>
		</span>
        </div>
    {% else %}
        <span class="e-content">
            {{ page.content }}
        </span>    
                    {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}

        </div>

        {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}"><img src="{{ url('theme://images/chevron-left.svg') }}" alt="chevron-left" style="display: inline; vertical-align: middle;" width="32" height="32"></i> Next post </a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}">Previous post <img src="{{ url('theme://images/chevron-right.svg') }}" alt="chevron-right" style="display: inline; vertical-align: middle;" width="32" height="32"></i></a>
            {% endif %}
        </p>
    {% endif %}

    </div>
    
