<div class="list-item">
<span class="h-entry">
<a class="u-author" href="https://jeremycherfas.net"></a>

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <em>{{ page.date|date("M") }}</em>
                                <em>{{ page.date|date("Y") }}</em>
            </time>
        </span>
        {% if page.header.link %}
            <h1 class="p-name">
                {% if page.header.continue_link is not sameas(false) %}
                <a href="{{ page.url }}"><img src="{{ url('theme://images/angle-double-right.svg') }}" alt="double angle right" height="32" width="32" style="display: inline;" ></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
            </h1>
        {% else %}
            <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
        {% endif %}

			{% if page.header.subhead %} 
			<h2 class="subhead">
				{{ page.header.subhead }}
			</h2>
			{% endif%} 


    </div>

<!-- 
    <div class="list-blog-padding">
 -->

    {% if page.header.continue_link is sameas(false) %}
        <span class="e-content">        
            {{ page.content }}
        </span>
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.summary != page.content %}
        <div class="p-summary">
        <span class="e-content">
            {{ page.summary }}
            <p><a href="{{ page.url }}">More this way ...</a></p>
        </span>
        </div>
    {% elseif truncate %}
        <div class="p-summary">
        <span class="e-content">
            {{ page.content }}
            <p><a href="{{ page.url }}">More this way ...</a></p>
		</span>
        </div>
    {% else %}
        <span class="e-content">
            {{ page.content }}
        </span>    

        </div>

    {% endif %}
</span>
</div>
