		<div class="list-item h-entry">
        
            <div class="list-blog-header">
        	<span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <em>{{ page.date|date("M") }}</em>
            </time>
        	</span>
        <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
	    	</div>

    	<div class="e-content">
 
            {{ page.header.summary }}
        			
			<div>
			{{ page.content }}
			</div>
		                    {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
		</div>