{{ dump(page) }}
{{ dump(page.url) }}
{{ dump(page.header.image) }}

<div class="list-item h-entry">

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <em>{{ page.date|date("M") }}</em>
            </time>
        </span>
            <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>

    </div>

    <div class="list-blog-padding">
    
        <div class="e-content">
        <div class="cover">
        	<img src="{{ page.url }}/{{ page.header.image }}" class="left">
        </div>
            {{ page.header.summary }}
        </div>

<a href="{{ page.url }}">Read on ...</a>

    </div>
</div>