{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4>SimpleSearch</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}

{% if config.plugins.twigfeeds.enabled %}
<div class="sidebar-content">
<h4>Stream</h4>

{% for name, feed in twig_feeds if name == 'Stream' %}
    {% for item in feed.items %}
        <p>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </p>
              <time>{{ item.date.date|nicetime(false) }}</time>

    {% endfor %}
{% endfor %}

</div>
{% endif %}

{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
     <h4>Subscribe</h4>
      <a class="button" href="{{ feed_url }}.atom"><img src="{{ url('theme://images/rss-square.svg') }}" alt="rss icon" height="24" width="24" style="display: inline; vertical-align: middle;" > Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><img src="{{ url('theme://images/rss-square.svg') }}" alt="rss icon" height="24" width="24" style="display: inline; vertical-align: middle;" > RSS</a>
    <p>If you want to know what that's all about, I highly recommend Robin Rendle's excellent article:</br > <a class="u-in-reply-to" href="https://robinrendle.com/notes/how-to-read-the-internet/" >How to Read the Internet</a > </p >
</div>
{% endif %}

{% include 'partials/sparklines.html.twig' %}

