<!-- Try and get the variable out of import -->
{% set summary = page.header.imports %}

{% set mytitle = summary.properties.title %}

{% set myfeatures = summary.features.0 %}

{% set mytime = myfeatures.properties.time %}

{% set myproperties = myfeatures.properties.summaryStatistics %}

<div class="list-item h-entry">
<a class="u-author" href="https://jeremycherfas.net"></a>

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <em>{{ page.date|date("M") }}</em>
                                <em>{{ page.date|date("Y") }}</em>
            </time>
        </span>
            <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>

			{% if page.header.subhead %}
			<h2 class="subhead">
				{{ page.header.subhead }}
			</h2>
			{% endif%}

    </div>

    <div class="list-blog-padding">
<!--

NB No need for the map div in the template, because it is in the post.

 -->
        <span class="e-content">
            {{ page.content }}
        </span>
{% if mytitle %}
<div class=”summarystats”>
<h2>Here are the details</h2>
<p>What: {{ mytitle }}</p>
<p>When: {{mytime|date("d M Y") }}</p>
<h4>Summary Statistics</h4>
<Ul>
{% for key,value in myproperties %}
<li>{{ (key) }} : {{value|number_format(2)}}</li>
{% endfor %}
</ul>
</div>
{% endif %}
                    {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}

        </div>

        {% set show_prev_next = true %}

    {% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}"><img src="{{ url('theme://images/chevron-left.svg') }}" alt="chevron-left" style="display: inline; vertical-align: middle;" width="32" height="32"></i> Next post </a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}">Previous post <img src="{{ url('theme://images/chevron-right.svg') }}" alt="chevron-right" style="display: inline; vertical-align: middle;" width="32" height="32"></i></a>
            {% endif %}
        </p>
    {% endif %}

    </div>

{% set myfile = ((page.url(true)) ~ '/' ~ page.header.datafilename )  %}

<script>
    "use strict"
    // Where is the data?
    var theFile = "{{ myfile }}"

    // Read the basic data
    $.getJSON(theFile, function(data) {
        var geojson = L.geoJson(data, {
            onEachFeature: function(feature, layer) {
                layer.bindPopup(feature.properties.name);
            }
        });

        // initialise the map
        var map = L.map('mapid').fitBounds(geojson.getBounds());

        // Creates the actual map tiles
        var myTiles = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.outdoors'
        });

        // Put it on the map
        myTiles.addTo(map);
        geojson.addTo(map);
    });
</script>
