<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
	{% block head %} 
	<meta charset="utf-8" />
	<title> {% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }} </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />
	<link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
	<link rel="alternate" type="application/atom+xml" title="Feed (Atom)" href="{{ base_url ~ " /blog.atom"}}" />
	<link rel="alternate" type="application/rss+xml" title="Feed (RSS)" href="{{ base_url ~ " /blog.rss"}}" />
	<link rel="alternate" type="application/json" title="Feed (json)" href="{{ base_url ~ " /blog.json"}}" />
	{% endblock head %} 

{% block stylesheets %} 
	{% do assets.addCss('theme://css/tailwind-compiled.css' ~ '?v=1.1.2') %} 
	{% do assets.addCss('theme://css/custom.css' ~ '?v=1.1.8') %} 
	{% do assets.addCss('theme://js/chartist/dist/chartist.min.css' ~ '?v=1.0.1') %} 
	{% do assets.addCss('theme://css/line-awesome.min.css') %} 
{% endblock stylesheets %} 
{% block javascripts %}
	{% do assets.addJs('jquery', 101) %}
	{% do assets.addJs('chartist' ) %}
{% endblock javascripts %} 
{% block assets deferred %} 
	{{ assets.css()|raw }} 
	{{ assets.js()|raw }}
{% endblock %} 
</head>
{% set options = { items: {'@root.descendants':''}, 'order': {'by': 'folder', 'dir': 'asc'}} %} {% set my_collection = page.collection(options) %} 
<body id="top" class="container mx-auto">
<!-- base.html.twig to Set max width and centres -->
<div class="opacity-100 sticky top-0 z-20">
<!-- Moving menu block to partial -->
	{% block menu %} {% include 'partials/menu.html.twig' %} {% endblock menu %} 
<!-- 
 -->
</div>
{% block header %} {% include 'partials/myheader.html.twig' %} {% endblock header %} 
<!-- header -->
{% block body %} 
<!--
This next section needs to call the partial in order
To loop properly through the posts. Without that, it
Just repeats the same post.
 -->
{% block content %} 
<div class="md:flex md:flex-row">
<!-- Contains everything -->
	<div class="h-feed flex flex-col md:w-2/3 pt-4">
<!-- Contains feed content -->
		<div class="hidden">
			<h1 class="p-name">
				<a href="/blog" class="u-url"> Jeremy Cherfas h-feed </a> 
			</h1>
		</div>
		{% for child in collection %} {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %} {% endfor %} 
<!-- Pagination -->
		{# Render the pagination list #} {% if config.plugins.pagination.enabled and collection.params.pagination %} {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %} {% endif %} 
	</div>
	{% endblock content%} {% if page.template != 'modular' %} {% block sidebar %} 
<!-- Contains sidebar -->
	{% include 'partials/mysidebar.html.twig' %} {% endblock sidebar%} {% endif %} 
</div>
<!-- end all items -->
{% block footer %} {% include 'partials/myfooter.html.twig' %} {% endblock footer %} {% endblock body %} 
</div>
<!-- End all items inc sidebar -->

{% block bottom %} {{ assets.js('bottom')|raw }} {% endblock bottom %} {{ dump(page) }} 
</body>
</html>
