{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
    <form name="search" data-simplesearch-form>


        <input
            name="searchfield"
            class="search-input border border-red-800 pl-1"
            type="text"
            aria-label="search text"
            {% if min_chars > 0 %} min="{{- min_chars -}}" {% endif %}
            required
            placeholder="{{"PLUGIN_SIMPLESEARCH.SEARCH_PLACEHOLDER"|t}}"
            value="{{ query|e }}"
            data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
            data-search-separator="{{ config.system.param_sep }}"
            data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) }}/query"
        />

        {% if config.plugins.simplesearch.display_button %}
            <button type="submit" class="search-submit" aria-label="Submit search">
                <img src="{{ url('theme://images/search.svg') }}" alt="" />
            </button>
        {% endif %}
    </form>
