<section class="search-row">

    <div class="search-item">
        <div class="search-title">
            <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        </div>

        <div class="search-details">
            <span class="search-date">{{ page.date|date(config.system.pages.dateformat.short) }}</span>
        </div>

        <p>{{ page.summary|raw }}</p>
<p style="font-size: var(--step--1);"><a href="{{ page.url }}">There’s more ...</a></p>
        <hr/>
    </div>
</section>
