<div class="modular-row callout white">
	{{ content }}

    {% for p in page.find('/blog').children.order('date', 'desc').slice(0, 1) %}
 
{% if p.header.taxonomy.tag.0 %}
<h1><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="{{p.header.link}}"> {{ p.title }}</a></h1>
{% else %}
                <h1><a href="{{p.url}}">{{ p.title }}</a></h1>
{% endif %}

                <h2 class="subhead">{{ p.header.subhead }}</h2>
                <p>{{ p.date|date("M j, Y")}}</p>
                <p>{{ p.content }}</p>
    {% endfor %}
</div>
