<div class="modular-row features {{ page.header.class}}">
	{{ content }} 

	<div class="feature-items">
			<div class="feature" style="padding-right: 1rem;">
				<h4 style="text-align:right;">Writing:</h4>
			</div>
		<div class="feature gray">
			{% for p in page.find('/blog').children.order('date', 'desc').slice(1, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 
		</div>
		<div class="feature">
			{% for p in page.find('/blog').children.order('date', 'desc').slice(2, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 
		</div>
		<div class="feature gray">
			{% for p in page.find('/blog').children.order('date', 'desc').slice(3, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 
		</div>
	</div>
	
	<div class="feature-items">
<div class="feature" style="padding-right: 1rem;">
				<h4 style="text-align:right;">Reading:</h4>
			</div>
		<div class="feature gray">
			{% for p in page.find('/reviews').children.order('date', 'desc').slice(0, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 
		</div>
		<div class="feature">
			{% for p in page.find('/reviews').children.order('date', 'desc').slice(1, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 
		</div>
		<div class="feature gray">
			{% for p in page.find('/reviews').children.order('date', 'desc').slice(2, 1) %} 
			<h4>
				<a href="{{p.url}}">{{ p.title }}</a>
			</h4>
				{% if p.header.subhead %}
					<h5 class="recent">{{ p.header.subhead }}</h5>
				{% endif %}	
			<p>
				{{ p.date|date("M j, Y")}}
			</p>
			{% endfor %} 

	</div>
</div>
{% include 'partials/about.html.twig' %}
