{% set mycollection = page.find('/blog').children.order('date', 'desc') %}
{# % for p in page.find('/blog').children.order('date', 'desc').slice(0, 1) if p.name == 'item.md' % #}

{# % set collection = page.evaluate([{'@page.children':'/blog', '@taxonomy.tag':'photography'}]) % #}
{% set collection = page.evaluate([{'@page.children':'/blog', '@taxonomy.tag': 'podcasts'}]) %}
{# % set collection = page.find( ('/blog').children, ('taxonomy.category') == 'blog' ) % #}
{% set ordered_collection = collection.order('date','desc') %}

{{ dump(collection) }}

{% for p in ordered_collection %}
{{dump (p.taxonomy.tag) }}
{{ dump(p.header) }}
{% endfor %}

{% set mydate = p.header.date | date("U") %} 

<div class="flex flex-col pt-2 ">
	<h1 class="mb-0 px-2 md:px-4 md:pt-2 text-3xl md:text-3xl text-grey-700">
		Latest post
	</h1>
	<div class="md:flex md:flex-col md:items-start md:w-3/4 md:mx-auto ">
			<div class="text-sm md:text-2xl ">
				<div class="md:flex-row md:items-start md:justify-between ">
					{# % include 'partials/blog/date.html.twig' % #}
					<div class="mydate ">
					<span class="blog-date md:text-base px-4 md:pr-0"> <time class="dt-published" datetime="{{ mydate|date(" c") }}"> <span class="inline-block">{{ mydate|date("d") }}</span> <span class="inline-block md:uppercase">{{ mydate|date("M") }}</span> <span class="block">{{ mydate|date("Y") }}</span> </time> </span>
				</div>
				<div class="mytitle px-2 md:pl-4">
					{# % include 'partials/blog/title.html.twig' % #}
					<h1 class="p-name mt-1 text-xl md:text-4xl md:text-orange-500 hover:text-blue-700">
						<a href="{{ p.url }}" class="u-url">{{ p.header.title }}</a>
					</h1>
<!-- p.url here is the path to that post         -->
					{% if page.header.subtitle %}
					<h2 class="text-lg md:text-3xl md:mr-4">
						{{ p.header.subtitle }}
					</h2>
					{% endif %}
				</div>
<!-- End title stuff -->
				<div class="e-content text-base mb-2 md:text-xl pl-2 pr-2 md:mr-4 md:ml-2 md:mb-2">
					{{ p.content }}
				</div>
			</div>
<!-- Ends item -->


			

		</div>
</div>

