{% if page.taxonomy.tag %}
<div style="border-top: 1px solid black">
<div class="tags">
Filed under | 
    {% for tag in page.taxonomy.tag %}
    <a class="p-category" href="{{ base_url|rtrim('/') }}/{{ page.header.taxonomy.category.0 }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a> | 
{% endfor %}
</div>
</div>
{% endif %}
