{% for name, feed in twig_feeds %}
    <h4>{{ name }}</h4>
    {% for item in feed %}
        <h5>
            <a href="{{ item.url }}">Bo {{ item.title }}</a>
        </h5>
        <time>{{ item.lastModified }}</time>
        <p>{{ item.content }}</p>
    {% endfor %}
{% endfor %}
