<div class="social-pages flex flex-row justify-center">
	<a href="https://indieweb.social/@etp" title="Mastodon" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/mastodon-black.svg') }}" alt="mastodon logo" height="32" width="32" ></a>
	<a href="https://github.com/jeremycherfas" title="GitHub" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/github.svg') }}" alt="github logo" height="32" width="32" ></a>
	<a href="https://stream.jeremycherfas.net" title="Known" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/known.svg') }}" alt="Known stream logo" height="32" width="32" ></a>
	<a href="https://micro.blog/jeremycherfas" title="Micro Blog" target="_blank" rel="me" class="mx-2"><img src="{{ url('theme://images/microblog.svg') }}" alt="MicroBlog logo" height="32" width="32" ></a>
	<a href="https://www.instagram.com/eatthispodcast/" title="Instagram" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/instagram.svg') }}" alt="Instagram logo" height="32" width="32" ></a>
	<a href="https://pnut.io/@jeremycherfas" title="pnut" target="_blank" rel="me" class="u-url"><img src="{{ url('theme://images/pnut.svg') }}" alt="pnut logo" height="32" width="32" ></a>
</div>

