{% if page.header.link %}
    <h1 class="p-name mt-1 text-xl md:text-4xl md:text-orange-700 hover:text-blue-700">
        {% if page.header.continue_link is not same as(false) %}
        <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
        {% endif %}
        <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
    </h1>
{% else %}
    <h1 class="p-name mt-1 text-xl md:text-4xl md:text-orange-700 hover:text-blue-700"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
{% endif %}
